https://github.com/bincode423/class

In [1]:
import pandas as pd

In [ ]:
sd = pd.Series([1,2,3],index=['a','b','c'])
sd

a    1
b    2
c    3
dtype: int64

In [4]:
sd['a'] = 50
sd

a    50
b     2
c     3
dtype: int64

In [5]:
del sd['c']
sd

a    50
b     2
dtype: int64

In [9]:
sd.name = 'Series Name'
sd.index.name = 'Index Name'
sd

Index Name
a    50
b     2
Name: Series Name, dtype: int64

In [ ]:
import pandas as pd

subject = pd.Series([70.0,80.0,90.0],index=['국어','영어','수학'])
subject.name = '홍길동 중간고사 성적'
subject.index.name = '과목'

subject['국어'] = 70
subject['영어'] = 80
subject['수학'] = 90
subject['과학'] = 100
del subject['과학']
subject.astype('float64')
print(subject)

과목
국어    70.0
영어    80.0
수학    90.0
Name: 홍길동 중간고사 성적, dtype: float64

In [14]:
df = pd.DataFrame({'이름' : ['홍길동','이순신','강감찬'],
                   '나이' : [20,30,40],
                   '성별' : ['남', '남', '남']})
df.index = [1,2,3]
df

    이름  나이 성별
1  홍길동  20  남
2  이순신  30  남
3  강감찬  40  남